@import "../../commons/sass/style.scss";

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: color("white");
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    height: 55px;
    z-index: 100;

    .logo_wrap {
        width: 60px;
        background: $footerBg;
        float: left;
        text-align: center;
        height: 55px;

        .navbar-brand {
            margin: 6px 0 0 0;
        }

        img {
            max-width: 24px;
        }
    }

    .search_wrap {
        float: left;
        padding: 8px 25px;
        width: 400px;
        border-right: 1px solid gray("300");

        .form-inline {
            position: relative;

            .form-control {
                border: 0;
                width: 100%;
                padding-left: 30px;

                &::-webkit-input-placeholder {
                    color: gray("500");
                }
                &::-moz-placeholder {
                    color: gray("500");
                }
                &:-ms-input-placeholder {
                    color: gray("500");
                }
                &:-moz-placeholder {
                    color: gray("500");
                }

                &:focus {
                    background: gray("100");
                }
            }

            .search_icon {
                position: absolute;
                top: 0;
                left: 5px;
                color: gray("500");
                font-size: 16px;
                line-height: 38px;
            }
        }
    }

    .navbar_wrap {
        float: left;
        padding: 8px 20px 0;

        .navbar-nav {
            .nav-item {
                margin: 0 5px 0 0;

                .nav-link {
                    color: gray("500");
                    font-size: 14px;

                    &.dropdown-toggle {
                        font-weight: 700;
                        color: $bodyColor;
                    }

                    &:hover {
                        color: $bodyColor;
                    }
                }
            }
        }
    }

    .user_wrap {
        padding: 0 40px 0 0;
        border-left: 1px solid gray("300");
        height: 55px;
        align-items: center;

        .dropdown-toggle {
            position: relative;

            &::after {
                display: none;
            }

            .user_inner {
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;

                img,
                span {
                    display: inline-block;
                    vertical-align: middle;
                }

                img {
                    width: 35px;
                    height: 35px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                span {
                    font-size: 14px;
                    padding: 0 10px 0 7px;
                }
            }

            .icon_down {
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
            }
        }

        .dropdown-menu {
            left: auto;
            right: 0;
        }
    }
}
